<div id="container" ng-controller="mainController as ctrl">
	<div id="candidates">
		<div ng-repeat="candidate in availCandidates | filter:isRightUndefined" class="candidate">
			<div class="candidate-header" style="background-color:#{{candidate.color}};"><h1>{{candidate.nickname}}</h1></div>
		
			<div class="avatar-cont"><div class="avatar" style="background-image:url('{{candidate.avatar}}');"></div></div>
				<h4>Votes:{{candidate.votes}}</h4>
			<button class="vote-button" ng-click="disclaimer(candidate.name)">VOTE</button>
		</div>
	</div>
	
	<div id="mainOver">
		<div id="disclaimer">
			<div class="candidate-header" style="background-color: rgb(204, 70, 70);"><h1>ATTENTION!</h1></div>
				<div id="disclaimerInfo">
					<p>
						Please note that this is <b>NOT</b> a real election.<br>
						The soul purpose of this website is to be a joke, maybe a bit of a political experement <b>and nothing more</b>.<br><br>Please also note that various information about your "vote" will be stored in our databases such as a unique identifier, (this cannot be linked up to you as a user in any way, this is just used to asure we don't get multiple votes from the same people) day of the month and the year said vote was submitted for statistical purposes. Absolutely nothing more than stated will be stored in our databases. Feel uncomfortable? Please take a look at the source code for this website on Github for reassurance.
					</p>
							
			</div>
				<button class="vote-button" ng-click="vote(votingFor)">VOTE</button>
		</div>
		<div id="success"><h1>Thanks for voting :)</h1></div>
	</div>
</div>
